.navbar {
  height: 65px;
  font-size: 1.1rem;
  position: sticky;
  z-index: 20;
  background: rgb(15, 15, 15);
  }
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .fa{
    color: white;
    margin: 5px;
  }
  .nav-logo {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-grow: 1;
    margin-left: 40px;
    margin-bottom: 15px;
  }
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
  }
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  .nav-links:hover {
    color: #fff;
  }
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  }
  .nav-item .active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  .nav-icon {
    display: none;
  }
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width:100%;
      position: absolute;
      top: 50px;
      left: -110%;
      opacity: 1;
      transition: all 1s ease;
    }
    .navbar {
      height: 50px;
      }
  
    .logo{
      margin-top: 2px;
    }
    .nav-menu.active {
      background: rgb(15, 15, 15);
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      backdrop-filter: blur(5px);
      position: absolute;
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
    .nav-icon {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.4rem;
      cursor: pointer;
      color:white;
    }
    .logo{
      width: 150px;
    }
  }
  @media screen and (max-width: 539px) {
    .nav-menu {
     height: 600px;
    }
  }
